<!doctype html>
<html>
	<head>
		<title>Messaging web service</title>
	</head>
<body>
	<h1>Messaging web service</h1>
	<h3>Post your message</h3>
	<form action="http://<%= node['network']['interfaces']['eth1']['addresses'].to_hash.select {|addr, info| info["family"] == "inet"}.flatten.first %>:8080/push_message" method="POST" style="width:50%">
		<fieldset style="border:0px">
			<label>Username</label>
			<input id="username" name="username" type="text" style="width:20%;">
			<label>Message</label>
			<input id="message" name="message" type="text" style="width:50%;">
		</fieldset>
		<div class="submit_link">
			<input type="submit" value="Send" style="padding:10px">
		</div>
	</form>
</body>
</html>
